## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [10]:
# 1: creating Pandas DataFrame

filename = "/Users/giuliadoda/data/data_000637.txt"
data = pd.read_csv(filename)
data.head()

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25

In [11]:
data.shape[0]

1310720

In [12]:
data = data[15000:]
data.tail()

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

In [13]:
data.shape[0]

1295720

In [38]:
# 2: finding out the value of BX_COUNTER in a ORBIT_CNT (x)

# a unit of BX_COUNTER corresponds to 25 ns
# the ORBIT_CNT is increased every x BX_COUNTER

data2 = data.groupby('ORBIT_CNT')
x = data2['BX_COUNTER'].max().max()-data2['BX_COUNTER'].min().min()+1
x

3564

In [ ]:
# 3: finding how much data taking lasted

In [ ]:
# 4: creating a new column for effective time in ns

In [ ]:
# 5: replacing randomly HEAD values with 0 or 1

In [ ]:
# 6: creating a new dataframe that contains only the row with HEAD == 1

In [ ]:
# 7: occupancy plots (one for each FPGA) = number of counts per TDC CHANNEL

In [ ]:
# 8: finding top 3 channels with most counts

In [ ]:
# 9: counting the number of unique orbits